.login-conatiner{
    width: 60vw;
    margin: 10vh auto;
    background-color:#68edee;  
    text-align: center; 
}
.login-form{

    display: flex;
    flex-direction: column;
  
}
mat-label{
    color: black;
    font-weight: 800;
}
button{
    background-color: coral;
    color: white;
}